button::-moz-focus-inner {
  border: 0;
	padding: 0;
	margin-top:-2px;
	margin-bottom: -2px;
}

* {
  padding: 0;
  margin: 0;
}

input, button {
  opacity: 0.8;
  color: #432B79;
  background: #BFBACC;
  border: 0;
  border-radius: 3px;
  height: 18px;
  line-height: 18px;
  outline: none;
  text-align: center;
}

body {
  color: #E8E8E8;
  background-color: #18102d;
  font-family: Sans-Serif, Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8;
}

a {
  color: #BFBACC;
  text-decoration: none;
}

a {
  color: #BFBACC;
  text-decoration: none;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  /* issue #2
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in; */
}

a:hover {
  color: #E8E8E8;
  -webkit-transition: all .5s ease-in; /* issue #2 */
}

img {
  opacity: 0.8;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

img.shine,
img:hover {
  opacity: 1
}

.logo {
  font-size: 20px;
  letter-spacing: .2em;
  margin-right:-.2em;
}

.d-block {
  display: block;
}

.of-a {
  overflow: auto
}

.f-s-12 {
  font-size: 12px;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-20 {
  font-size: 18px;
}

.t-center {
  text-align: center;
}

.b-g::before {
    content: "";
    background-image: linear-gradient(to left, #9B94BF, #18102d);
    height: 1px;
    width: 360px;
    display: inline-block;
}

.b-g::after {
    content: "";
    background-image: linear-gradient(to right, #9B94BF, #18102d);
    height: 1px;
    width: 360px;
    display: inline-block;
}

.br-50 {
  border-radius: 50%;
}

.c-0,
.c-0:active,
.c-0:visited,
.c-0:hover {
  color: #FFF;
}

.c-1,
.c-1:active,
.c-1:visited,
.c-1:hover {
  color: #ABA6B7;
}

.c-2,
.c-2:active,
.c-2:visited,
.c-2:hover {
  color: #9ba5af;
}

.cursor-pointer {
  cursor: pointer;
}

.p-8 {
  padding: 8px;
}

@-moz-document url-prefix() {
  .p-8 {
    padding: 4px;
  }
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-27 {
  padding-top: 27px;
  padding-bottom: 27px;
}

.py-54 {
  padding-top: 54px;
  padding-bottom: 54px;
}

.pt-27 {
  padding-top: 27px;
}

.pt-54 {
  padding-top: 54px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-27 {
  padding-bottom: 27px;
}

.pb-36 {
  padding-bottom: 36px;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.mb-16 {
  margin-bottom: 16px
}

.mb-20 {
  margin-bottom: 20px
}

.mb-36 {
  margin-bottom: 36px
}

.mw-560 {
  max-width: 560px;
}
