<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ app.name }}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/{{ app.theme }}.css?{{ app.version }}" />
        <link rel="icon" href="{% block favicon %}/favicon.ico{% endblock %}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
